# Creado por https://www.toptal.com/developers/gitignore/api/visualstudiocode,csharp
# Editar en https://www.toptal.com/developers/gitignore?templates=visualstudiocode,csharp

### C sostenido ###
## Ignorar archivos temporales de Visual Studio, generar resultados y
## archivos generados por complementos populares de Visual Studio.
##
## Obtenga lo último en https://github.com/github/gitignore/blob/main/VisualStudio.gitignore

# Archivos específicos del usuario
*.rsusuario
*.suo
*.usuario
*.userosscache
*.sln.docstates

# Archivos específicos del usuario (MonoDevelop/Xamarin Studio)
*.preferencias de usuario

# Archivos mono generados automáticamente
mono_crash.*

# Construir resultados
[Dd]ebug/
[Dd]ebugPublic/
[Rr]soltar/
[Rr]libera/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Si bemol]en/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Directorio de opciones/caché de Visual Studio 2015/2017
.vs/
# Descomentar si tienes tareas que crean los archivos estáticos del proyecto en wwwroot
#wwwroot/

# Archivos generados automáticamente en Visual Studio 2017
Generado\ Archivos/

# Resultados de la prueba MSTest
[Tt]est[Rr]resultado*/
[Bb]uild[Ll]og.*

# NUnidad
*.VisualState.xml
Resultadodeprueba.xml
nunit-*.xml

# Resultados de compilación de un proyecto ATL
[Dd]ebugPS/
[Rr]liberarPS/
dlldata.c

# Resultados de referencia
Punto de referenciaDotNet.Artifacts/

# Núcleo .NET
proyecto.lock.json
proyecto.fragmento.lock.json
artefactos/

# Andamios ASP.NET
AndamiosReadMe.txt

# EstiloCop
EstiloCopReport.xml

# Archivos creados por Visual Studio
*_i.c
*_ordenador personal
*_S.S
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.registro
*.tlog
*.vspscc
*.vssscc
.construye
*.pidb
*.svclog
*.scc

# Archivos de prueba de descaro
_Osadía*

# Archivos de caché de Visual C++
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.archivocache
*.VC.db
*.VC.VC.opendb

# Perfilador de Visual Studio
*.psess
*.vsp
*.vspx
*.savia

# Archivos de seguimiento de Visual Studio
*.e2e

# TFS 2012 Espacio de trabajo local
$tf/

# Kit de herramientas de automatización de guiado
*.gpEstado

# ReSharper es un complemento de codificación .NET
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.usuario

# TeamCity es un complemento de compilación
_EquipoCiudad*

# DotCover es una herramienta de cobertura de código
*.dotCubierta

# AxoCover es una herramienta de cobertura de código
.axoCubierta/*
!.axoCover/settings.json

# Coverlet es una herramienta de cobertura de código multiplataforma gratuita
cobertura*.json
cobertura*.xml
cobertura*.info

# Resultados de cobertura de código de Visual Studio
*.cobertura
*.coberturaxml

# NCrunch
_NCrunch_*
.*crujido*.local.xml
nCrunchTemp_*

# MightyMoose
*.mm.*
AutoTest.Net/

# Banco de trabajo web (descarado)
.sass-cache/

# Carpeta de salida de Installshield
[Ee]xpress/

# DocProject es un complemento generador de documentación
DocProject/buildhelp/
DocProject/Ayuda/*.HxT
DocProject/Ayuda/*.HxC
DocProject/Ayuda/*.hhc
DocProject/Ayuda/*.hhk
DocProject/Ayuda/*.hhp
DocProject/Ayuda/Html2
DocProject/Ayuda/html

# Directorio de clic una vez
publicar/

# Publicar salida web
*.[Pp]ublish.xml
*.azurePubxml
# Nota: Comente la siguiente línea si desea verificar la configuración de implementación web.
# pero las cadenas de conexión de la base de datos (con posibles contraseñas) no estarán cifradas
*.pubxml
*.publicarproj

# Configuración de publicación de la aplicación web de Microsoft Azure. Comenta la siguiente línea si quieres.
# verificar la configuración de publicación de su aplicación web de Azure, pero contiene información confidencial
# en estos scripts no estará cifrado
Publicar guiones/

# Paquetes NuGet
*.nupkg
# Paquetes de símbolos NuGet
*.snupkg
# La carpeta de paquetes se puede ignorar debido a la restauración de paquetes
**/[Pp]paquetes/*
# excepto build/, que se utiliza como destino de MSBuild.
!**/[Pp]ackages/build/
# Descomentar si es necesario; sin embargo, generalmente se regenerará cuando sea necesario.
#!**/[Pp]ackages/repositories.config
# Los archivos project.json de NuGet v3 producen más archivos ignorables
*.nuget.props
*.nuget.objetivos

# Salida de compilación de Microsoft Azure
csx/
*.build.csdef

# Emulador de Microsoft Azure
fce/
fcr/

# Directorios y archivos de paquetes de aplicaciones de la Tienda Windows
Paquetes de aplicaciones/
PaqueteArtefactos/
Paquete.StoreAssociation.xml
_pkginfo.txt
*.aprox.
*.appxbundle
*.appxupload

# Archivos de caché de Visual Studio
# archivos que terminan en .cache se pueden ignorar
*.[Cc]dolor
# pero realiza un seguimiento de los directorios que terminan en .cache
!?*.[Cc]dolor/

# Otros
ClienteBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.configuración de publicación
orleans.codegen.cs

# Incluir archivos con nombres seguros puede presentar un riesgo de seguridad
# (https://github.com/github/gitignore/pull/2483#issue-259490424)
#*.snk

# Dado que existen múltiples flujos de trabajo, descomente la siguiente línea para ignorar bower_components
# (https://github.com/github/gitignore/pull/1529#issuecomment-104372622)
#componentes_bower/

# Proyectos RIA/Silverlight
Código_generado/

# Copia de seguridad y archivos de informes de la conversión de un archivo de proyecto antiguo
# a una versión más reciente de Visual Studio. Los archivos de respaldo no son necesarios,
# porque tenemos git ;-)
_Archivos_de_informe_de_actualización/
Respaldo*/
Registro de actualización*.XML
Registro de actualización*.htm
ServicioFabricBackup/
*.rptproj.bak

# archivos de servidor SQL
*.mdf
*.ldf
*.ndf

# Proyectos de Inteligencia de Negocios
*.rdl.datos
*.bim.diseño
*.bim_*.configuración
*.rptproj.rsusuario
*- [Bb]ackup.rdl
*- [Bb]copia de seguridad ([0-9]).rdl
*- [Bb]copia de seguridad ([0-9][0-9]).rdl

# Falsificaciones de Microsoft
Falsas Asambleas/

# Archivo de configuración del complemento GhostDoc
*.GhostDoc.xml

# Herramientas Node.js para Visual Studio
.ntvs_analysis.dat
módulos_nodo/

# Registro de compilación de Visual Studio 6
*.plg

# Archivo de opciones del espacio de trabajo de Visual Studio 6
*.optar

# Archivo de espacio de trabajo generado automáticamente de Visual Studio 6 (contiene qué archivos se abrieron, etc.)
*.vbw

# Archivo de proyecto generado automáticamente de Visual Studio 6 (contiene qué archivos se abrieron, etc.)
*.vbp

# Espacio de trabajo y archivo de proyecto de Visual Studio 6 (archivos de proyecto de trabajo que contienen archivos para incluir en el proyecto)
*.dsw
*.dsp

# Archivos técnicos de Visual Studio 6

# Salida de compilación de Visual Studio LightSwitch
**/*.HTMLClient/GeneratedArtifacts
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.Servidor/ArtefactosGenerados
**/*.Servidor/ModelManifest.xml
_Pvt_Extensiones

# Administrador de dependencia de paquetes
.paket/paket.exe
archivos-paquete/

# FALSO - F# Hacer
.falso/

# Configuración personal de CodeRush
.cr/personal

# Herramientas Python para Visual Studio (PTVS)
__pycache__/
*.pyc

# Pastel - Descomentar si lo estás usando
# herramientas/**
# !herramientas/paquetes.config

# Estudio de pestañas
*.tss

# Archivo de configuración JustMock de Telerik
*.jmconfig

# Salida de compilación de BizTalk
*.btp.cs
*.btm.cs
*.odx.cs
*.xsd.cs

# Resultados del análisis de la interfaz de usuario de OpenCover
AbrirCubierta/

# Salida de ejecución local de Azure Stream Analytics
ASALocalRun/

# Registro binario y estructurado de MSBuild
*.binlog

# Archivo de configuración del depurador de GPU NVidia Nsight
*.nvusuario

# Carpeta de trabajo de MFractors (herramienta de productividad de Xamarin)
.mfractor/

# Historia local para Visual Studio
.Historia local/

# Archivos de historial de Visual Studio (VSHistory)
.vhistoria/

# Base de datos temporal de control de salud BeatPulse
chequeosdesaluddb

# Carpeta de respaldo para la herramienta de conversión de referencia de paquete en Visual Studio 2017
MigraciónCopia de seguridad/

# Carpeta de trabajo de Ionide (herramientas multiplataforma F# VS Code)
.ionuro/

# Fody - esquema XML generado automáticamente
FodyWeavers.xsd

# Archivos VS Code para quienes trabajan en múltiples herramientas
.vscode/*
!.vscode/configuración.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensiones.json
*.espacio de trabajo de código

# Historial local para Visual Studio Code
.historia/

# Archivos de Windows Installer de resultados de compilación
*.taxi
*.msi
*.msix
*.msm
*.msp

# Jinete de JetBrains
*.sln.iml

### Código VisualStudio ###
!.vscode/*.fragmentos de código

# Historial local para Visual Studio Code

# Extensiones de código de Visual Studio creadas
*.vsix

### Parche de VisualStudioCode ###
# Ignorar todo el historial local de archivos
.historia
.ionuro

# Fin de https://www.toptal.com/developers/gitignore/api/visualstudiocode,csharp